.resultPlaca{
    color: blue;
    width: 200px;
}

.verificar {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border-color: #3498db;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .verificar:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }