* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(233, 237, 240);
    overflow: hidden;
    display: flex;
}

.model {
    display: none !important;
    visibility: hidden;
}

.info {
    height: 100vh;
    width: 60vw;
    background-color: rgb(127, 150, 253);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.modals {
    height: 100vh;
    width: 40vw;
    max-height: 100vh;
    max-width: 40vw;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    height: 35vh;
    width: 20vw;
    background-color: rgb(127, 150, 253);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 52px 5px rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 1.4s ease-in;
}

.modal-setor {
    top: 300px;
}

.modal-produto {
    left: -400px;
    transition: all 1.8s ease-in-out !important;
}

.modal-funcionario {
    bottom: -400px;
}

.modal>input,
.modal>select {
    border: 2px solid rgb(224, 224, 224);
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(231, 228, 228, 0.507);
    height: 12%;
    width: 58%;
    border-radius: 15px;
    padding-left: 10px;
    outline: none;
}

.title {
    font-size: 20pt;
    font-weight: 800;
    color: #fff;
    font-family: monospace;
    letter-spacing: .3rem;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(203, 204, 204);
}

.modal>select {
    color: rgb(109, 108, 108);
}

.btns {
    position: relative;
    top: -37vh;
    right: -19.5vw;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.btns2 {

    margin-right: 48% !important;
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 20px;
}

.btns>.btn {
    padding: 0 17px;
    transform: translateX(-50%);
    height: 50px;
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #99b9f5;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btns>.btn:hover:before,
.btns>.btn:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.btns>.btn:hover label {
    width: 75PX;
    opacity: 0.8;
    margin-left: 10px;
}

.btns>.btnProduto:hover label {
    width: 95px !important;
}

.btns>.btnFuncionario:hover label {
    width: 130px !important;
}

.btns>.btn:before,
.btns>.btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 100px;
    background-color: #000;
    opacity: 0;
    transition: all 0.4s ease;
    transition-delay: 0.1s;
    z-index: 0;
}

.btns>.btn:after {
    transition-delay: 0.3s;
}

.btns>.btn>img {
    position: relative;
    display: inline-block;
    top: 5px;
    z-index: 2;
    pointer-events: none;
    width: 30px;
}

.btns>.btn>label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    transition: all 0.4s ease;
    pointer-events: none;
}

#setor {
    height: 45px;
    width: 160px;
    background-color: #99b9f5;
    border: none;
    border-radius: 20px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 700;
    color: rgb(91, 102, 112);
    transition: all 1s;
}

#setor:hover {
    background-color: rgb(90, 104, 182);
    color: azure;
}

.btns2>.btn {
    padding: 0 17px;
    transform: translateX(50%);
    height: 50px;
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btns2>.btn:hover:before,
.btns2>.btn:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.btns2>.btn:hover label {
    width: 75PX;
    opacity: 0.8;
    margin-left: 10px;
}

.btns2>.btnProduto:hover label {
    width: 95px !important;
}

.btns2>.btnFuncionario:hover label {
    width: 130px !important;
}

.btns2>.btn:before,
.btns2>.btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 100px;
    background-color: #000;
    opacity: 0;
    transition: all 0.4s ease;
    transition-delay: 0.1s;
    z-index: 0;
}

.btns2>.btn:after {
    transition-delay: 0.3s;
}

.btns2>.btn>img {
    position: relative;
    display: inline-block;
    top: 5px;
    z-index: 2;
    pointer-events: none;
    width: 30px;
}

.btns2>.btn>label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    transition: all 0.4s ease;
    pointer-events: none;
}

.btns2>.infoProduto:hover label {
    width: 95px !important;
}

.btns2>.infoFuncionario:hover label {
    width: 130px !important;
}

.dropbtn {
    border: 2px solid rgb(224, 224, 224) !important;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 3px rgba(231, 228, 228, 0.507);
    height: 35px;
    width: 220px;
    border-radius: 15px;
    font-size: 14pt;
    border: none;
    cursor: pointer;
    color: #7e7d7d;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    width: 100%;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    box-shadow: 0px 0px 10px 3px rgba(231, 228, 228, 0.507);
    border: 2px solid rgb(224, 224, 224);
    border-top: none;
}

.dropdown-content p {
    color: rgb(51, 51, 51);
    padding: 12px 16px;
    display: block;
    font-weight: 400;
    width: 100%;
}

.dropdown-content p:last-child {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.dropdown-content p:hover {
    background-color: #caceca
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.infoSetores,
.infoProdutos,
.infoFuncionarios {
    background-color: rgba(230, 230, 230, 0);
    height: 80%;
    width: 90%;
    padding: 30px 40px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
}

.setor,
.produto,
.funcionarios {
    background-color: rgb(230, 230, 230);
    width: 200px;
    height: 120px;
    box-shadow: 0px 0px 10px 3px rgba(231, 228, 228, 0.507);
    border: 2px solid #caceca;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px 10px 20px;
}

.setor>span,
.produto>span,
.funcionarios>span {
    font-size: 14pt;
    font-weight: 700;
}

#idSetor,
#nomeSetor,
#comissaoSetor,
#idFuncionario,
#nomeFuncionario,
#salarioFuncionario,
#idSetorFuncionario,
#idProduto,
#nomeProduto,
#valorProduto,
#idSetorProduto {
    font-size: 11pt;
    font-weight: 500;
}

.produto {
    width: 250px;
    height: 170px;
}

.funcionarios {
    width: 270px;
    height: 170px;
}